* {
    margin:      0;
    padding:     0;
    font-family: Cairo, sans-serif;
    font-size:   15px;
    color:white;
    background-size:cover;
}

html, body {
    height: 100%;
}

a, a *:not(del) {
    outline: 0;
    text-decoration: none;
}

a:focus, a:focus *, a:hover, a:hover * {
    text-decoration: underline;
}

.bebasneue, .bebasneue * {
    font-family: "Bebas Neue";
    font-size:17px;
}

@media screen and (max-width:768px) {
.bebasneue, .bebasneue * {
    font-size:15px;
}
}

.cairo, .cairo * {
    font-family: "Cairo";
}
.op8 {
    opacity : .8;
}
.op8:focus, .op8:focus *, .op8:hover, .op8:hover * {
    opacity : 1;
}


@media screen and (min-width:769px) { 
    .mobile_seulement { display:none;}
}
@media screen and (max-width:768px) {
    .bureau_seulement { display:none;}
}
