
.nav_articles {
    z-index:1;
    /* background-color:rgba(0,0,0,0.8); */
    position:fixed;
    margin-right:2px;
    right:0;/*36%;*/
    top:40%;/*50%;*/
}

.nav_article_puce {
    width:  12px;
    margin: 4px 0;
    margin-right: 6px;
}

@media screen and (min-width:769px) {
.nav_categories {
    z-index:1;
    background: linear-gradient(rgba(37,37,79,.55), rgba(0,0,0,0));
    position:fixed;
    top:0; left:0;
    width:64%;
}
}
@media screen and (max-width:768px) {
.nav_categories {
    z-index:1;
    background: black;
    position:fixed;
    top:0; left:0;
    width:100%;
}
}

/*
.nav_categories > * {
    display:inline;
}
*/

.nav_categorie {
    margin: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-weight:bold;
}
.nav_categorie_logo {
    width: 140px;
    margin: 10px;
}


