@font-face {
    font-family: "Bebas";
    src: url("../polices/bebas/BEBAS___.TTF");
}
@font-face {
    font-family: "Bebas Neue";
    src: url("../polices/bebas_neue/BebasNeue.otf");
}
@font-face {
    font-family: "Cairo";
    src: url("../polices/Cairo/Cairo-Regular.ttf ");
}
@font-face {
    font-family: "Cairo";
    src: url("../polices/Cairo/Cairo-Bold.ttf ");
    font-weight:bold;
}
