::-webkit-scrollbar {
    width:  8px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border: 1px solid #dfb044;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #dfb044;  
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #efc155;
}
